@import "reset.css";

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-dark-navy: #001524;
  --color-navy: #293b4c;
  --color-navy-light: #536578;
  /* --color-navbar: #20303f; */
  --color-navbar: #233543;
  --color-skillset: #8093a7;
  --color-setction: #606a75;
  --color-setction-left: #49535d;
  --color-setction-right: #526577;
  --color-progress-bar: #283b4b;

  /* Font size */
  --font-large-h1: 48px;
  --font-large: 36px;
  --font-medium: 28px;
  --font-regular: 22px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;

  /* 눈이 아프니 흰 바탕을 없애준다. */
  background: whitesmoke;
  /* 이건 margin의 영향만 받아서 내가 복잡한 생각을 하지 않도록 */
  box-sizing: border-box;
}

/* follow the below rule  */
/* 
1. display(표시)
2. overflow(넘침)
3. float(흐름)
4. position(위치)
5. width/height(크기)
6. padding/margin(간격)
7. border(테두리)
8. background(배경)
9. color/font(글꼴)
10. animation
11. 기타
1~6 레이아웃  |  7~8 테두리/배경  |  9 글꼴  |  10 동작  |  11 기타  
*/

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  padding-left: 0;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

/* Typography */
h1 {
  font-size: var(--font-large-h1);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-large);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h4 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Fixed Button */
.arrow_up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 50px;
  background-color: var(--color-navy-light);
  color: var(--color-white);
  pointer-events: none;
  opacity: 0;
  transition: opacity var(--animation-duration) ease;
}

.arrow_up.visible {
  opacity: 0.9;
  pointer-events: auto;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 8px;
  position: fixed;
  align-items: center;
  background-color: transparent;
  color: var(--color-white);
  z-index: 1;
}

#navbar.navbar__scroll {
  padding: 16px;
  background-color: var(--color-navbar);
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  border-radius: var(--size-border-radius);
  cursor: pointer;
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}
.navbar__menu__item:hover {
  background-color: var(--color-navy);
}

.navbar__toggleBtn {
  display: none;
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
}

/* Home */
#home {
  background: url("../../images/background.png") center/cover no-repeat;
  padding: 40px;
  text-align: center;
}

.home__photo {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__btnContact {
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  color: var(--color-white);
}

/* Section common */
.section {
  padding: 50px;
  margin: auto;
  text-align: center;
}

.setction__container {
  max-width: 1200px;
  margin: auto;
}

/* About */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  margin: auto;
  margin-bottom: 16px;
  border: 1px solid --color-blue;
  border-radius: 50%;
  font-size: 70px;
  color: var(--color-blue);
  line-height: 170px;
}
.major__icon i {
  transition: all var(--animation-duration) ease;
}
.major__icon:hover {
  color: var(--color-dark-navy);
  transform: scale(1.2);
}

.major__title {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

.major__title,
.major__description {
  color: var(--color-navy-light);
}

.major__description {
  font-size: var(--font-small);
}

.career {
  display: flex;
  align-items: center;
}

.career__description {
  margin: 0 16px;
  text-align: left;
}

.career__name,
.career__period {
  color: var(--color-light-grey);
}

.career__name {
  font-size: var(--font-small);
}

.career__period {
  font-size: var(--font-micro);
}

/* Skill */
#skills {
  background-color: var(--color-skillset);
}

.skillset {
  display: flex;
  margin: 20px 0;
  background-color: var(--color-setction);
  color: var(--color-light-white);
}

.skillset__title {
  color: var(--color-white);
}
.skillset__left {
  flex-basis: 60%;
  padding: 20px 40px;
  background-color: var(--color-setction-left);
}

.skill {
  margin-bottom: 32px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 4px;
  margin: 4px;
  background-color: var(--color-light-grey);
  box-sizing: content-box;
}

.skill__value {
  height: 4px;
  background-color: var(--color-progress-bar);
}

.skillset__right {
  flex-basis: 40%;
}

.tools {
  background-color: var(--color-setction-right);
}

.skillset__right div ul li {
  margin: 16px;
}

.tools,
.etc {
  padding: 20px;
}

/* Portfolio */
.portfolio__categories {
  margin: 40px;
}

.category__btn {
  padding: 8px 48px;
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
}

.category__btn.active,
.category__btn:hover {
  background-color: var(--color-navy-light);
  color: var(--color-white);
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  top: 0;
  opacity: 1;
}

.category__count {
  display: inline-block;
  position: relative;
  top: -20px;
  left: 4px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 50%;
  background-color: var(--color-orange);
  color: var(--color-white);
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

.portfolio__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.portfolio__projects.ani_out {
  opacity: 0;
  transform: scale(0.9) translateY(40px);
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-white);
}

.project.invisible {
  display: none;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-navy-light);
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease;
}

.project:hover .project__description {
  opacity: 0.9;
  transform: translateY(0px);
}

.project__description h3 {
  color: var(--color-white);
}

.project__description h3::after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 25px;
  height: 2px;
  margin-left: -12px;
  margin-top: 8px;
  background-color: var(--color-dark-white);
}

/* Contact */
#contact {
  background-color: var(--color-setction);
}

.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-white);
}
.contact__title {
  margin: 32px 0;
}

.contact__links {
  margin: 24px 0;
  font-size: var(--font-large);
}

.contact__links i:hover {
  color: var(--color-yellow);
  transition: all var(--animation-duration) ease;
  transform: scale(1.2);
}

/* Responsive */
@media screen and (max-width: 768px) {
  .navbar__toggleBtn {
    display: block;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  #navbar.navbar__scroll {
    padding: 16px;
    background-color: var(--color-navbar);
  }

  .navbar__menu {
    display: none;
    flex-direction: column;
    align-content: center;
    width: 100%;
    text-align: center;
  }

  .show {
    display: flex;
  }

  .about__majors {
    flex-direction: column;
  }

  .major {
    margin-bottom: 38px;
  }

  .skillset {
    flex-direction: column;
  }

  .project {
    flex-grow: 1;
  }
}
